<div class="content animate-fade-up">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Products</h4>
            <p class="category">List of Products</p>
            <!-- 
              <div class="form-group">
                <div class="col-md-6">
                  <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search By Category" />
                </div>
              </div> -->

            <div class="CustomButton">

              <select (change)="filterProducts()" placeholder="Filter Products" class="form-control" [(ngModel)]="catName" id="">
                  <option value=0 selected>Filter Products</option>    
                  <option [value]="category.id" *ngFor="let category of categories" class="dropdown-item" >{{ category.name }}</option>
                  </select>
            </div>

          </div>
          <div class="content table-responsive table-full-width">


            <div class="floating-button">
              <button (click)="isModal = true; addModal.open()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product">
                      <i class="pe-7s-plus"></i>
                    </button>

            </div>

            <div class="table-wrapper">



              <table *ngIf="products" class="table table-hover table-striped">
                <thead>
                  <th width="30%" (click)="sort('name')">Name <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }"
                      aria-hidden="true"> </i></th>
                  <th (click)="sort('categoryName')">Category
                    <i class="fa" [ngClass]="{'fa-sort': column != 'categoryName', 'fa-sort-asc': (column == 'categoryName' && isDesc), 'fa-sort-desc': (column == 'categoryName' && !isDesc) }"
                      aria-hidden="true"> </i>

                  </th>
                  <th (click)="sort('price')">Price <i class="fa" [ngClass]="{'fa-sort': column != 'price', 'fa-sort-asc': (column == 'price' && isDesc), 'fa-sort-desc': (column == 'price' && !isDesc) }"
                      aria-hidden="true"> </i></th>
                  <th (click)="sort('stocks')">Available Stocks <i class="fa" [ngClass]="{'fa-sort': column != 'stocks', 'fa-sort-asc': (column == 'stocks' && isDesc), 'fa-sort-desc': (column == 'stocks' && !isDesc) }"
                      aria-hidden="true"> </i></th>
                  <th>Options</th>
                </thead>
                <tbody *ngIf="visibleProducts">
                  <tr *ngFor="let product of visibleProducts">
                    <td>{{ product?.name }} </td>
                    <td>{{ product?.categoryName }} </td>
                    <td> {{ product.price | currency : {currencyFormat: currency, currencyValue: dollarToPeso} }}</td>
                    <td>{{ product.stocks }}</td>
                    <td>


                      <button (click)="isModal=true; selectedProduct=product" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-product">
                            <i class="pe-7s-edit"></i>
                          </button>


                      <button (click)="selectedProduct=product" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg"> <i class="pe-7s-trash" title="Remove"></i> </button>
                    </td>
                  </tr>
                  <tr *ngIf="!visibleProducts.length">
                    <td colspan="5">
                      <div class="content">
                        <div *ngIf="products" class="alert alert-warning" role="alert">
                          <strong>Oops!</strong> It's lonely here.
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to remove this?</p>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="removeProduct(i)">Yes</button>
      </div>


    </div>
  </div>
</div>

<div *ngIf="isModal">
  <app-admin-edit-product [prod]="selectedProduct"></app-admin-edit-product>

</div>


<modal #addModal>
  <modal-header>
    <h1>New Product</h1>
  </modal-header>
  <modal-content>
    <app-admin-add-product (cancelDialogBox)="addModal.close()"></app-admin-add-product>
  </modal-content>
  <modal-footer>

  </modal-footer>
</modal>
