span.input-search {
    display: table;
    margin-top: 24px;
    margin-right: 10px;
}

.nav_username {
    text-transform: capitalize;
}

.search {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.search:focus {
    /* width: 300px; */
}