.product-container { 
    padding: 15px; 
}
i { 
    font-size: 30px 
}
.panel.panel-default { 
    margin-bottom: 0; 
    border-radius: 0px; 
}
.panel-info .panel-heading row { 
    height: 20px; 
}
.caret { 
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; 
}
.panel-title { 
    position: relative 
}
.card-header { 
    padding: 15px; 
    background: #eaeaea 
}
.card { 
    margin-bottom: 0 
}
.fa.fa-sort-desc, .fa.fa-sort-asc, .fa.fa-sort { 
    font-size: 15px 
}

a {
    color: #000;
}

h4 {
    margin: 0;
}

