<div class="product-container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">Categories</div>
                <div class="col-xs-2 text-center">Total Products</div>
                <div class="col-xs-2 text-center" (click)="expandAll()">Expand All</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" *ngFor="let category of categories">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">{{category.name}}</div>
                <div class="col-xs-2 text-center">2</div>
                <div class="col-xs-2 text-center"><i class="pe-7s-angle-down" (click)="toggle()"></i></div>
            </div>
        </div>
        <div class="panel-body" >
            <div class="panel panel-info" *ngIf="isExpandAll">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">Product Name</div>
                        <div class="col-xs-3 text-center">Price</div>
                        <div class="col-xs-3 text-center">Available Stocks</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div *ngFor="let product of products">
                        <div class="row">
                            <div class="col-xs-6">{{product.name}}</div>
                            <div class="col-xs-3 text-center">{{product.price}}</div>
                            <div class="col-xs-3 text-center">{{product.stocks}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
